# Temporary files
*~

# DATA FOLDERS
ACES
ArrayExpress
FERAL
FERAL_supp_data
GSE_RFS
GSE_
NormalisingData
outputs/

# Packages
*.tgz

# Compiled files
*.pyc

# Pickled files
*.pickle

# Jupyter notebooks
.ipynb_checkpoints/


# LaTex
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
